<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8" name='viewport' content='width=device-width, initial-scale=1')
    title D3 Test
  body
    h2 hello there
    div(id="option")
      input(name="updateButton", type="button", value="Group I", onclick="updateData()")
      input(name="updateButton", type="button", value="Group II", onclick="updateData()")
      input(name="updateButton", type="button", value="Group III", onclick="updateData()")
      input(name="updateButton", type="button", value="Group IV", onclick="updateData()")
    script(src="https://d3js.org/d3.v3.min.js")
    script(type="text/javascript" src="../d3/script.js")
